#name {
  font-weight: 800;
  margin-top: 2vh;
}

p {
  margin: 0;
}

/* button {
  margin-bottom: 2vh;
} */

#expansion {
  /* display: flex; */
  flex-direction: column;

}

img {
  border-radius: 50%;
  /* height: 10vh;
  width: 10vw;
  visibility: hidden; */
}